body {
    height: 1000vh;
    margin: 50px;
}
div {
    
    width: 100px;
    height: 100px;
    background-color: wheat;
    position: relative;
}

div:nth-child(even) {
    background-color: teal;
}